@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DevOps with docker
    It People Corporation<br />
    Hyderabad, Telangana<br />
    <abbr title="Phone">P:</abbr>
   India 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@itpeoplecorp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@itpeoplecorp.com</a>
</address>
